
<div class="w-full flex flex-wrap justify-center ">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
        <div class="flex gap-4 mt-1 p-3">
            <div class="w-full">
                <p-floatlabel variant="on">
                    <input pInputText id="name" [(ngModel)]="payload.name" autocomplete="off" fluid="true" />
                    <label for="name">Name</label>
                </p-floatlabel>
            </div>
        </div>
        <div class="flex gap-4 mt-1 p-3">
            <div class="w-full">
                <p-floatlabel variant="on">
                    <input pInputText id="fields" [(ngModel)]="payload.fields" autocomplete="off" fluid="true" />
                    <label for="fields">Fields</label>
                </p-floatlabel>
            </div>
        </div>
        <div class="flex gap-4 mt-1 p-3">
            <div class="w-full">
                <p-floatlabel variant="on">
                    <input pInputText id="conditions" [(ngModel)]="payload.conditions" autocomplete="off" fluid="true"/>
                    <label for="conditions">Conditions</label>
                </p-floatlabel>
            </div>
        </div>
        <div class="flex gap-4 mt-1">
            <p-button (click)="winVisible()" label="Cancel" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
            <p-button (click)="saveView()"  label="Save" class="w-full" styleClass="w-full" />
        </div>
    </p-card>
</div>

