
    <div class="w-full  flex flex-wrap justify-center">
        <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
            <div class="flex gap-4 mt-1 p-3">
                <div class="w-full">
                    <p-floatlabel variant="on">
                        <input pInputText id="name" [(ngModel)]="payload.name" autocomplete="off" fluid="true"/>
                        <label for="name">Name</label>
                    </p-floatlabel>
                </div>
            </div>
            <div class="flex gap-4 mt-1 p-3">
                <div class="w-full">
                    <p-floatlabel variant="on">
                        <input pInputText id="comment" [(ngModel)]="payload.comment" autocomplete="off" fluid="true"/>
                        <label for="comment">Comment</label>
                    </p-floatlabel>
                </div>
            </div>
            <div class="flex gap-4 mt-1 p-3">
                <div class="w-full">
                    <p-floatlabel variant="on">
                        <textarea pTextarea id="sql_string" [(ngModel)]="payload.sql_string" rows="5" cols="70" style="resize: none" class="w-full" ></textarea>
                        <label for="sql_string">SQL</label>
                    </p-floatlabel>
                </div>
            </div>
            <div class="flex gap-4 mt-1">
                <p-button (click)="cleanPayload()" label="Cancel" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
                <p-button (click)="saveTableObjectSql()"  label="Save" class="w-full" styleClass="w-full" />
            </div>
        </p-card>
    </div>

