
<div class="card flex flex-wrap justify-center items-end gap-4">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
        <div class="flex gap-4 mt-1 p-3">
            <p-floatlabel variant="on">
                <input pInputText id="value" [(ngModel)]="payload.value" autocomplete="off" fluid="true"/>
                <label for="value">Value</label>
            </p-floatlabel>
        </div>

        <div class="flex gap-4 mt-1 p-3">
            <p-floatlabel variant="on">
                <textarea pTextarea id="description" [(ngModel)]="payload.description" rows="5" cols="35" style="resize: none" class="h-full" ></textarea>
                <label for="description">Description</label>
            </p-floatlabel>
        </div>

        <div class="flex gap-4 mt-1 p-3">
            <p-checkbox inputId="active" name="active" value="true" [(ngModel)]="payload.active" [binary]="true"/>
            <label for="active" class="ml-2"> Active </label>
        </div>

        <div class="flex gap-4 mt-1">
            <p-button (click)="cleanPayload()" label="Cancel" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
            <p-button (click)="saveTableObject()"  label="Save" class="w-full" styleClass="w-full" />
        </div>
    </p-card>
</div>

